@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
 
.swiper-button-prev {
  left: 60px !important;
  top: 20% !important;
  color: blue !important;
}

.swiper-button-next {
  right: 60px !important;
  top: 20% !important;
  color: blue !important;
}

